<%- include('partes/header.ejs') %>
<body>
    <%- include('partes/navbar.ejs') %>
    <div class="container text-center">
        <hr>
        <h1>Bot para Whatsapp</h1>
        <hr>
        <h2>Leia o QRCode</h2>
        <p>Em caso de QRCode inválido, atualize essa página.</p>
        <img id="img1">
    </div>
</body>
<%- include('partes/socket.ejs') %>
<%- include('partes/footer.ejs') %>